<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"></html><![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"></html><![endif]-->
<!-- [if gt IE 8]><! -->
<html class="no-js">
<!-- <![endif] -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>A Nice Day - Simplified</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="assets/styles/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <!--[if lt IE 7]>
			<p class="browsehappy">
				You are using an <strong>outdated</strong> browser. Please
				<a href="#">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->

  <div id="app" @click="clickOutside">
    
    <div v-show="loadingWeather" class="loading-screen">
      <div>
        <p><img src="./assets/img/favicon.png" alt="Loading Icon..." height="24" class="rotate-img"></p>
      </div>
      <h3>Loading weather ...</h3>
    </div>

    <div class="grid-container">

      <section>
        <transition name="slide">
          <img v-if="!loadingWeather" src="./assets/img/and-logo.png" height="300" width="300" alt="A Nice Day Logo">
        </transition>
      </section>

      <transition name="fade">
        <section v-if="!loadingWeather">
          <h3 id="day-text">A
            <span v-if="!showSelect" @click="showSelect = true" class="primary--text">{{ dayType }}</span>
            <select v-else name="dayTypes" v-model="dayType" @change="showSelect = false">
              <option v-for="(type, i) in dayTypes" :key="i" :value="type">
                {{ type }}
              </option>
            </select>
            day is a nice day for me in
          </h3>
          <h2><i>{{ location.city }}, {{ location.country }}</i></h2>
        </section>
      </transition>

      <div>
        <h3>Temp</h3>
        {{ weather.temp }} &#8451;
      </div>

      <div>
        <h3>Wind</h3>
        <span v-if="weather.wind.deg">{{ windDirection(weather.wind.deg) }} @</span>
        <span v-else>N</span>
        {{ Math.round(weather.wind.speed) }} m/s
      </div>

      <div>
        <h3>Rain</h3>
        {{ weather.rain }}
      </div>

    </div>

  </div>
  <script type="module">
    var app = new Vue({
      el: '#app',
      data: () => ({
        settingsDialog: false,
        loadingWeather: true,
        apiKey: '75a19ae7341ebaed1993c60c07f2bcb7',
        dayTypes: ['Mist', 'Drizzle', 'Clear', 'Rain'],
        dayType: null,
        location: {},
        weather: {
          temp: null,
          wind: {},
          rain: null 
        },
        gettingLocation: true,
        showSelect: false
      }),
      created(){
        this.getLocationByIp().then(() => this.getWeather())
      },
      methods: {
        
        // get users location by IP
        getLocationByIp() {
          return new Promise((resolve)=>{
            fetch('http://ip-api.com/json').then(response => response.json())
              .then(data => {
                this.location = data
                resolve(data)
                this.gettingLocation = false
              }).catch(error => {

                console.warn('Location by IP not possible.')

                this.loadingWeather = false

                // if getting location by IP fails use default location
                this.location = {
                  city: 'Samara',
                  country: 'Costa Rica',
                  countryCode: 'CR'
                }         
                resolve()
              })
          })
        },

        // get the weather
        getWeather() {          
          fetch('http://api.openweathermap.org/data/2.5/weather?q='+ this.location.city +','+ this.location.countryCode +'&units=metric&APPID=' +this.apiKey)      
            .then(response => response.json())
            .then(response => {

              let names = response.weather.map(name => name.main),
                  types = this.dayTypes.concat(names),
                  filtered_day_types = types.filter((elem, index, self) => index === self.indexOf(elem))
              
              this.dayTypes = filtered_day_types

              this.dayType = response.weather[0].main

              Object.assign(this.weather, {
                temp: Math.round(response.main.temp),
                wind: response.wind,
                rain: response.rain ? response.rain['1h'] + ' mm/hr' : 'No rain today. Get out and enjoy nature!',
                city: response.name,
                country: response.sys.country
              })

              // set timeout to show loading screen animation
              setTimeout(()=>{
                this.loadingWeather = false
              }, 900)

            }).catch(error => {
              console.error('Get weather failed', error)
            })
        },

        // get wind direction by degree
        windDirection(num) {
          let val = Math.floor((num / 22.5) + 0.5),
              dirs = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'];
          return dirs[(val % 16)];
        },

        // hide day type select if clicked outside element
        clickOutside(e) {
          const inside = document.getElementById('day-text').contains(e.target);
          if(!inside){
            this.showSelect = false
          }
        }
      }        
    })
  </script>
</body>

</html>