body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}

#app {
  height: 100vh;
}

.primary--text {
  color: #ffa500;
  text-decoration: underline;
  cursor: pointer;
}

.loading-screen {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #f0f0f0;
  text-align: center;
}

.loading-screen h3 {
  padding-top: 1rem;
}

.loading-screen > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: minmax(100px, 500px);
      grid-template-rows: minmax(100px, 500px);
  -webkit-column-count: 3;
          column-count: 3;
  text-align: center;
}

.grid-container h3 {
  text-transform: uppercase;
}

.grid-container section {
  grid-column: 1 / -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.grid-container section:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
}

.grid-container div {
  padding: 1rem 1.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .3rem;
  width: auto;
  min-width: 200px;
  background-image: url("../img/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right .5rem center;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

.rotate-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 750ms;
  transition: opacity 750ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.slide-enter-to {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-enter-active {
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
/*# sourceMappingURL=main.css.map */