// global
$bg-color: rgb(240, 240, 240);

body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  background: $bg-color;
}

#app {
  height: 100vh;
}

.primary--text {
  color: #ffa500;
  text-decoration: underline;
  cursor: pointer;
}

// loading screen styles
.loading-screen {
  z-index: 1;
  display: grid;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: $bg-color;
  text-align: center;

  h3 {
    padding-top: 1rem;
  }

  > div {
    display: flex;
    justify-content: center;
  }

}

// grid layout styles
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, 500px);
  column-count: 3;
  text-align: center;

  h3 {
    text-transform: uppercase;
  }

  section {    
    grid-column: 1 / -1;    
    justify-content: center;
    align-items: center;
    z-index: 1;    
  }

  section:first-child {
    display: flex;
    z-index: 0;
  }

  div {
    padding: 1rem 1.5rem;    
  }
}

// select custom styles
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .3rem;
  width: auto;
  min-width: 200px;
  background-image: url('../img/down-arrow.png');
  background-repeat: no-repeat;
  background-position: right .5rem center;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

//  Animations

// rotate loading image
.rotate-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// fade in text
.fade-enter-active,
.fade-leave-active {
  transition: opacity 750ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// transition sun in ;)
.slide-enter {
  transform: translateY(-100%)
}

.slide-enter-to {
  transform: translateY(0)
}

.slide-enter-active {
  transition: all 750ms ease-in-out
}